<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>parking</title> 
	<link rel="stylesheet" href="{% static 'css/styleo.css' %}">
</head>


<body>

<div class="container">
  <div class="split left">
    <h1>Reserved</h1>
    <a href="/data/type/R/" class="button">Go Futher</a>
  </div>
  <div class="split right">
    <h1>Public</h1>
    <a href="/data/type/P/" class="button">Go Further</a>
  </div>
</div>


<script src="{% static 'js/main0.js' %}" ></script>


</body>
</html>